<!DOCTYPE html>
<html>
    <head>
        <title>Support System</title>
    </head>

    <body>
        <h1>Support System</h1>

        {% if request.session.error %}
            <p>{{ request.session.error }}</p>
        {% endif %}

        {% if not request.user.is_authenticated %}
            <a href="/accounts/login">Login</a>
            <a href="/register">Register</a>
        {% else %}
            <a href="/tickets">Tickets</a>
            <a href="/new">New Ticket</a>
            <a href="/accounts/logout">Logout</a>
        {% endif %}
    </body>
</html>