<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ticket #{{ ticket_id }}</title>
    </head>
    <body>
        <h1>Ticket #{{ ticket_id }}</h1>
        <h2>Title: {{ ticket_title }}</h2>
        <h2>Product: {{ ticket_product }}</h2>
        <h2>Time: {{ ticket_time }}</h2>

        <p>Body:</p>
        <hr />
        {{ ticket_content }}
        <hr />
        <p>Conversation:</p>
        <hr />

        {% if not replys %}
            <h1>No conversation history</h1>
            <hr />
        {% else %}
            {% for reply in replys %}
                <h2>Time: {{ reply.time }}</h2>
                <h2>User: {{ reply.user }}</h2>
                <p>Time: {{ reply.content }}</p>
                <hr />
            {% endfor %}
        {% endif %}

        <p>Reply:</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}

            <input type="submit" value="Reply" />
        </form>
    </body>
</html>