{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ticket #{{ ticket.id }}</title>
    </head>
    <body>
        <h1>Ticket #{{ ticket.id }}</h1>
        <h2>Title: {{ ticket.title }}</h2>
        <h2>Product: {{ ticket.product }}</h2>
        <h2>Time: {{ ticket.created_at }}</h2>

        <p>Body:</p>
        <hr />
        {{ ticket.content }}
        <hr />
        <p>Conversation:</p>
        <hr />

        {% if not answers %}
            <h1>No conversation history</h1>
            <hr />
        {% else %}
            {% for answer in answers %}
                <h2>Time: {{ answer.created_at }}</h2>
                <h2>User: {{ answer.user }}</h2>
                <p>Body: {{ answer.content }}</p>
                <hr />
            {% endfor %}
        {% endif %}

        <p>Answer:</p>
        <form method="post" action="/tickets/{{ ticket.id }}">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Reply" />
        </form>
    </body>
</html>